@model ECWebApp.WebUI.Models.ViewModel.CartViewModel
@using System.Globalization

@{
    ViewBag.Title = "Customer :: CheckOutCart";
}
<h2>Thanks!</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.