@{
    Layout = null;
}
<div flex class="box">
    <div class="box-title">
        <span>Categories</span>
    </div>
    <div class="box-content">
        @*repititive items*@
        <div flex="33" class="card card-flat">
            <div class="card-content">
                <span class="card-title">category 1</span>
            </div>
        </div>
        <div flex="33" class="card card-flat">
            <div class="card-content">
                <span class="card-title">category 1</span>
            </div>
        </div>
        <div flex="33" class="card card-flat">
            <div class="card-content">
                <span class="card-title">category 1</span>
            </div>
        </div>
        <div flex="33" class="card card-flat">
            <div class="card-content">
                <span class="card-title">category 1</span>
            </div>
        </div>
        <div flex="33" class="card card-flat">
            <div class="card-content">
                <span class="card-title">category 1</span>
            </div>
        </div>
        <div flex="33" class="card card-flat">
            <div class="card-content">
                <span class="card-title">category 1</span>
            </div>
        </div>
        <div flex="33" class="card card-flat">
            <div class="card-content">
                <span class="card-title">category 1</span>
            </div>
        </div>
        <div flex="33" class="card card-flat">
            <div class="card-content">
                <span class="card-title">category 1</span>
            </div>
        </div>
    </div>
</div>