
@model ECWebApp.WebUI.Areas.Admin.Models.TextureInfo
<h4>Delete Texture</h4>
<a href='#' class='right glyphicon glyphicon-remove dialog-close'></a>
<hr />
<p>Do you want to delete @Model.TextureName ? </p>


<script>
    $(function () {
        $('.dialog-close').on('click', function () {
            var confirmDialog = $(this).parents('.ui-dialog-content');

            confirmDialog.dialog('close');

        });

       
    });
</script>